# Ignore Mongo DataFiles (annoying)
data/

# Ignore C# bin and obj files (these are generated on build)
**/bin/
**/obj/

# Visual Studio user settings (workspace, debugging info).
.vs/ , *.user, *.suo, *.vscode/	User-specific settings and IDE configs.

# Miscellaneous
*.dll, *.exe	
*.log